<img src='../img/universe.jpg' style="float: right; height: 600px;" alt="Drawing">
The main goal is to recommend the most similar hotel to a selected hotel. There are other ways of recommending hotels (content-based k-means clustering, for one, as introduced in another tutorial, [hotel_clustering_using_nlp](hotel_clustering_using_nlp.ipynb)). To __look up__ the most similar hotel in our __universe of hotels__, imagine your favorite hotel __lives__ on Planet A. Now when you travel to a different planet (sorry, __city__), you want to find a hotel that reminds you of your favorite on Planet A. A k-dimensional tree algorithm can help you locate that hotel in almost no time. I'll implement an __Approximate Nearest Neighbors__ search on a __7 dimenional tree__ that has been tailored to our dataset of 10,000 hotels that have been rated by over 1.04 million users on TripAdvisor.

In this tutorial, I'll implement a fast search algorithm for content-based k-Nearest Neighbor model. KNN models were known for their interpretability in the early days of recommender systems. I'll define a way of measuring similarity, i.e. how similar any of the chosen two hotels are, based on their features. This similarity measure helps guide us in the __universe__ of __similar hotels__. The model compares similarity measures among hotels, to decide how __similar__ a pair of hotels are in the rating structures given by travelers. If we would like to know how __similar__ a pair of items are, kNN models would also be a very intuitive way to tell the __degree of similarity__. 

In statistics, the __curse of dimensionality__ has made many problems a lot harder when the dimensions increase. In a 1D space (a straight line on paper), this search problem is essential a query problem; whatever hotel located next to your favorite is the most similar one. In a 2D plane (laying out a map on table), we can draw circles centered at your favorite hotel to search for the next similar one. In a 3D world like ours, there is yet another dimension added to the previous plane, so search time increases as a result.

Hotels in our model will be measured in 7 dimensions: rooms, service, cleanlines, front desk, business service, value, location; each will be given a 0 to 5 scores, where 1 - 5 are travelers' ratings. By using a k-dimensional tree, the next similar hotel will be generated automatically from the training set that we feed in to the algorithm.

## Content:
<ul>
<li>[Data pre-processing](#Data pre-processing)
<li>[Define distance metric](#Define distance metric)
<li>[Train test split](#Train test split)
<li>[Build a KD tree](#Build a KD tree)
<li>[Search for the nearest neighbor on a KD tree](#Search for the nearest neighbor on a KD tree)
<li>[Testing on sample](#Testing on sample)
</ul>

I used Python 2 to write this tutorial and implemented the following libraries:

In [41]:
import pandas as pd 
import pprint
import numpy as np
import sklearn.preprocessing as pp
from numpy import linalg
from numpy import dot
from numpy.linalg import norm

<a id='Data pre-processing'></a>

## Data pre-processing

First, we import our example dataset that I scraped and cleaned from TripAdvisor. Each hotel id is unique and represents a hotel in our databse. Ratings of rooms, service, cleanliness, front desk, business service, value, and location are mean ratings taken from travelers.

In [42]:
hotel_ratings = pd.read_csv('../data/pivot_ratings.csv')

In [43]:
hotel_ratings.shape

(28365, 2875)

<a id='Define distance metric'></a>

## Define distance metric

First, we need to define a way of measuring similarity distance. We choose the Euclidean distance:

In [344]:
def cosineSimilarity(point1, point2):
    cos_sim = dot(point1, point2)/float((norm(point1)*norm(point2)))
    return cos_sim

In [369]:
def euc_distance(point1, point2):
    diff = np.subtract(point1, point2)
    dist = np.linalg.norm(diff)
    return dist

In [45]:
hotel_ratings.shape

(28365, 2875)

<a id='Train test split'></a>

## Train test split

In [217]:
#design training and test set after random shuffle:
threshold = int(0.8*hotel_ratings.shape[0])
training = hotel_ratings[:threshold]
test = hotel_ratings[threshold:]
training.reset_index(inplace=True)
test.reset_index(inplace=True)

In [218]:
training.drop(['index', 'user'], axis=1, inplace=True)
test.drop(['index', 'user'], axis=1, inplace=True)

/Users/vkwan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/vkwan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [219]:
test.head()

,72572,72586,73855,73943,73957,74626,75688,75711,76049,76061,...,2516196,2516198,2516199,2516201,2516216,2516221,2516231,2516241,2516244,2520289
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<a id='Build a KD tree'></a>

## Build a KD tree

To generate a tree structure, we define a function that takes arrays of (7-dimensional) points as input, and generates a binary search tree (BST) where each split is performed on one of the 7 dimensions, alternatively, until no more split is available.
<img src='../img/KDTree-animation.gif' style="float: center; height: 400px;" alt="Drawing">

(_Source_: [Wikipedia: kd tree](https://en.wikipedia.org/wiki/K-d_tree))

In [46]:
def build_kdtree(points, depth=0):
    n = len(points)

    if n <= 0:
        return None
    # spliting by alternating axis:
    axis = depth % k

    sorted_points = sorted(points, key=lambda point: point[axis])

    return {
        'point': sorted_points[n / 2],
        'left': build_kdtree(sorted_points[:n / 2], depth + 1),
        'right': build_kdtree(sorted_points[n/2 + 1:], depth + 1)
    }

In [220]:
# turning DataFrames into array structure:
training_points = training.as_matrix()
test_points = test.as_matrix()

In [323]:
col_mean_train = np.nanmean(training_points, axis=0)

In [324]:
col_mean_test = np.nanmean(test_points, axis=0)

In [339]:
training_points[training_points == 0] = 'nan'
test_points[test_points==0] = 'nan'

In [336]:
inds = np.where(np.isnan(training_points))
training_points[inds] = np.take(col_mean_train, inds[1])

In [338]:
training_points

array([[0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       ...,
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662]])

In [340]:
inds = np.where(np.isnan(test_points))
test_points[inds] = np.take(col_mean_train, inds[1])

In [341]:
test_points

array([[0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       ...,
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662],
       [0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
        0.00039662]])

Now, we are ready to __grow__ our first tree!

In [370]:
k = 2874
kdtree = build_kdtree(training_points)

<a id='Search for the nearest neighbor on a KD tree'></a>

## Search for the nearest neighbor on a KD tree

This tree is a BST where each split is first split on dimension 'rooms', then 'service', etc. until starting from 'rooms' all over again. There is no way human brains can visualize this high dimensional space, but the basic principles are just as simple as the 2D version in the above animation.

To avoid going over all branches in search of the _closest_ points, we apply an approximate version of BST search query algorithm. We first define a function that frees us up by _trimming_ half of the tree each time we detect that none of the child nodes are possible of being in the _closer_ class of our _planet_ (in the universe of hotels)...

In [371]:
# a function that decides if points 'p1' or 'p2' is closer to our 'pivot'
def closer_point(pivot, p1, p2):
    if p1 is None:
        return p2
    if p2 is None:
        return p1

    # calculate the euclidean distances
    d1 = euc_distance(pivot, p1)
    d2 = euc_distance(pivot, p2)
    
    # choose the closer point
    if d1 < d2:
        return p1
    else:
        return p2

Next we need to search for the closest neighbors for a given point on our BST tree.

In [365]:
# a function that searches for the closest neighbors based on a grown BST 'root'.
def kdtree_closest_point(root, point, depth=0):
    if root is None:
        return None
    # alternating split by axis
    axis = depth % k
    
    # initiate search on two branches at the same time
    next_branch = None
    opposite_branch = None
    
    # deciding by preliminary check which branch is worth time investigating
    if point[axis] < root['point'][axis]:
        next_branch = root['left']
        opposite_branch = root['right']
    else:
        next_branch = root['right']
        opposite_branch = root['left']
        
    #initiate recursive process of finding a 'closer_distance' 
    best = closer_point(point,
                           kdtree_closest_point(next_branch,
                                                point,
                                                depth + 1),
                            root['point'])
    
    # update 'best' point each time a closer point is detected
    if euc_distance(point, best) >= abs(point[axis] - root['point'][axis]):
        best = higher_similarity(point,
                               kdtree_closest_point(opposite_branch,
                                                    point,
                                                    depth + 1),
                               best)
    # return the closest point
    return best

<a id='Testing on sample'></a>

## Testing on sample

Let's roll up our sleeves and start __climbing__ (searching)!

If I want to know which hotel is most similar to __Hotel Erwin, a Joie de Vivre hotel__ in __Los Angeles, LA__ whose hotel id is __2516007__:

In [276]:
len(training_points)

22692

In [277]:
test_points.shape

(5673, 2874)

In [357]:
test_point = test_points[20]

In [358]:
test_point

array([0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
       0.00039662])

To find the most similar hotel in the _hotel-ratings_ datafram, we run __kdtree_closest_point__ on our entire __kdtree__, with the __test_hotel__ array as input.

In [366]:
train_point = kdtree_closest_point(kdtree, test_point)
%time train_point

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 6.91 µs

array([0.00017627, 0.00052882, 0.00022034, ..., 0.00048475, 0.00057289,
       0.00039662])

In [367]:
output = []
for idx, e in enumerate(training_points):
    if (e == train_point).all():
        output.append(idx)

In [368]:
output

[]

In [352]:
hotel_ratings.iloc[output]['user']

Series([], Name: user, dtype: object)

In [353]:
len(hotel_ratings.iloc[12784].as_matrix()[1:])

2874

In [354]:
output2 = []
for idx, e in enumerate(test_points):
    if (e == test_point).all():
        output2.append(idx)

In [355]:
output2

[20]

In [309]:
hotel_ratings.iloc[output2]

,user,72572,72586,73855,73943,73957,74626,75688,75711,76049,...,2516196,2516198,2516199,2516201,2516216,2516221,2516231,2516241,2516244,2520289
20,0xMx0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [310]:
user_matrix = hotel_ratings.set_index('user')

In [311]:
user_matrix.loc['SwarleyBravo'].as_matrix().nonzero()

(array([448]),)

In [312]:
user_matrix.loc['0xMx0'].as_matrix()[709]

2.0

In [321]:
euc_distance(user_matrix.loc['0andriy'].as_matrix(), user_matrix.loc['09cas'].as_matrix())

5.385164807134504

In [292]:
a = np.array([1,0,1])
b = np.array([0,2,0])

In [293]:
cosineSimilarity(a,b)

0.0

We evaluate this recommendation by calculating the RMSE (the Root Mean Squared Error) to see how far off our recommended hotel's rating structure is from our favorite.

In [294]:
def rmse(rec, test):
    return np.sqrt(np.linalg.norm((rec - test))/7.0)

In [23]:
rmse(rec_hotel, test_hotel)

0.4860846722988549

<img src='../img/radar.png' style="float: right; height: 400px;" alt="Drawing">
From over thousands of hotels, we have found a hotel (__Hotel Gansevoort__) that has been rate as highly on _value_, _cleanliness_, and _location_ almost same as our _favorite_ hotel, __Hotel Erwin, a Joie de Vivre hotel__. It took us only 10 microseconds wall time, instead of possibly hours of waiting for pairwise computation of similarities. Pairwise computing also eats up most of pc's memory and will cause memory error in python kernels.

__Next Steps__:
1. Use heapmax to get k nearest neighbors, say, 5 most similar hotels based on the 7 dimensions.
2. Optimize hyper-parameter k by running grid search and cross validation, evaluated by RMSE.
3. Can run this on subsets of hotels that are in the same zipcode.